DB_URL=jdbc:postgresql://your-db-host:port/dbname?sslmode=require
DB_USERNAME=your-username
DB_PASSWORD=your-password
BREVO_API_KEY=your-brevo-api-key
GROQ_API_KEY=your-groq-api-key
EMAIL_MICROSERVICE_URL=http://16.176.86.18:8081
RABBITMQ_HOST=16.176.86.18
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
